<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.aalto.mobilesystems.ledcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".LedControl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DiskoLightActivity" />

        <activity android:name=".activities.HandleBroadcastActivity" />
        <activity android:name=".activities.SetAlarmActivity" />
        <activity android:name=".activities.TimeOfDayActivity"/>
        <activity android:name=".activities.SelectLightColorActivity"></activity>

        <service android:name=".services.ChangeLightService" />

        <receiver android:name=".models.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="com.android.deskclock.ALARM_ALERT" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SimpleTimeOfDay">
            <intent-filter>
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.SimpleTimeOfDay.START" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.SimpleTimeOfDay.STOP" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.SimpleTimeOfDay.UPDATE" />
            </intent-filter>
        </service>
        <service android:name=".services.AutomaticTimeOfDay">
            <intent-filter>
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.START" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.STOP" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.HALT" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.RESUME" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.UPDATE_DATA" />
                <action android:name="fi.aalto.mobilesystems.ledcontrol.services.AutomaticTimeOfDay.UPDATE_LIGHTING" />
            </intent-filter>
        </service>
        <service android:name="fi.aalto.mobilesystems.ledcontrol.services.LedControlScheduler"></service>

        <activity android:name=".activities.RandomLightActivity"></activity>


        <receiver android:name=".models.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
